[submodule "spitfire"]
	path = spitfire
	url = https://github.com/Csardelacal/SpitfireEngine
	branch = develop
[submodule "unserscoreSCSS"]
	path = assets/src/scss/_
	url = https://github.com/Csardelacal/underscoreSCSS.git
[submodule "m3.js"]
	path = assets/src/js/m3
	url = https://github.com/Csardelacal/m3.js.git
