.DS_Store
.env
dev/.env
/nbproject/
.vs
.idea
bin/settings/environments.php
bin/usr/
node_modules/
bin/usr/.cron.lock
logs/*.log
/vendor/
local.log
browserstack.err
/dev/integration/app/screenshots/
/dev/integration/app/vendor/
/dev/integration/coverage/
