language: php
dist: focal
php: 
  - 8.0

addons:
  browserstack:
    username: "cesardelacalbret1"
    access_key:
      secure: "WdTWRfOsMxctrXFzp2YLA9zq6NM/+aoVhijHKaTJRRZVVa3h5c6eDHujJeofbgLnVOxiIy5Sa6b2THswOqsRuwFhzjFcCHqEhklRpGThU01NAcDR+B2kk+9UwdCOrtwwV5DJuDvL2FQloIFpxPgKacBGu9p6I6/4CJ8Yf7YPp1cYc//NQLzMMEZzrAfzQfsYsFrTZImuk/97twK5XTsMrXJk52XxzhrzwXkXcQO8UBiUw9JBI79x2SRnx7Zosrg814fHZoW2JstZ+6qMej1ZxuqzzDlpdhuXzFjmXsbBUuS8W6m5CM0HnJD4BW4GYec2mqFubgm+ofOil5t7rfZM2TtNe0luKCqeXZcQ6GYWEbOfH6HTKi5fr4YInv2BWMncUK2gQirL3NUAwY4g/3oo+NerWLsWq2vAt3o/eZSG/2jeWBLwSPhHlbtqk553J+y2p+YGC00ByPYRfQ84dP1PCKICK9EFtWx+rhgcNwoL3FE4TqKRJbxln0l6HDcdSfMd+8AGJRg68KWrMasLql0xvXNIpsaU1gxMq0vWzI6g9aHueYHhEcbl2yT9dK+8UKqU+C36INUelOaWnpB+SQsUoIgIi55986c/GBRAOjn141nqif6QyGYH+ND5/MlB9eQWgxGZPBeGY1+aUj8qIdqEPN8UdIokV5nVFkFRqJfhp6M="
env:
  - DOCKER_COMPOSE_VERSION=1.25.0

before_install:
  - sudo ln -s $(which php) /usr/bin/php
  - php -v
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

  # Initialize the composer stuff.
  - composer install
  - composer dump-autoload
  
  # Initialize the settings with the known defaults so we can work the database connection.
  - docker-compose up -d
  - sleep 20
  - cp bin/settings/environments.sample.php bin/settings/environments.php

script: |
  sudo -E /home/travis/.phpenv/shims/php runtests.php

after_script: 
  - sudo docker-compose down
