version: "3.3"
services:
  jsbuild:
    build:
      context: .
      dockerfile: Dockerfile.npm    
    restart: 'no'
    volumes:
      - '.:/code'
  web:
    build: .
    ports:
      - "8085:80"
    volumes:
      - .:/var/www/html
      - /var/www/html/bin/usr
    links:
      - memcached
      - mysql
      - mailhog
    extra_hosts:
      - "host.docker.internal:host-gateway"
  memcached:
    image: memcached:latest
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: www
      MYSQL_PASSWORD: test
    ports:
      - "3385:3306"
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
      
