version: "3.3"
services:
  jsbuild:
    build:
      context: .
      dockerfile: Dockerfile.npm    
    restart: 'no'
    volumes:
      - '.:/code'
  web:
    build:
      context: .
      target:  ${WEB_TARGET:-debug}
    volumes:
      - .:/var/www/phpauth
      - /var/www/phpauth/bin/usr
    links:
      - memcached
      - mysql
      - mailhog
    ports:
      - 80:80
    extra_hosts:
      - "host.docker.internal:host-gateway"
  memcached:
    image: memcached:latest
  redis:
    image: redis:latest
    volumes:
      - redis_data:/data

  mysql:
    image: mariadb:latest
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: www
      MYSQL_PASSWORD: test
    ports:
      - "3385:3306"
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
      

volumes:
  redis_data:
