version: "3.3"


# We use minio for testing the S3 compatible integrations. For this purpose,
# we use the original docker-compose file for minio
# https://github.com/minio/minio/blob/master/docs/orchestration/docker-compose/docker-compose.yaml
#
# This first block is settings and configurations that are common for all 
# minio containers
x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2022-10-08T20-11-00Z
  command: server --console-address ":9001" http://minio{1...4}/data{1...2}
  expose:
    - "9000"
    - "9001"
  # environment:
    # MINIO_ROOT_USER: minioadmin
    # MINIO_ROOT_PASSWORD: minioadmin
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3
services:
  web:
    build: .
    ports:
      - "8088:80"
    volumes:
      - .:/var/www/html
      - /var/www/html/storage/
    links:
      - memcached
      - mysql
    extra_hosts:
      - "host.docker.internal:host-gateway"
  memcached:
    image: memcached:latest
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: www
      MYSQL_PASSWORD: test

  # starts 4 docker containers running minio server instances.
  # using nginx reverse proxy, load balancing, you can access
  # it through port 9000.
  minio1:
    <<: *minio-common
    hostname: minio1
    volumes:
      - data1-1:/data1
      - data1-2:/data2

  minio2:
    <<: *minio-common
    hostname: minio2
    volumes:
      - data2-1:/data1
      - data2-2:/data2

  minio3:
    <<: *minio-common
    hostname: minio3
    volumes:
      - data3-1:/data1
      - data3-2:/data2

  minio4:
    <<: *minio-common
    hostname: minio4
    volumes:
      - data4-1:/data1
      - data4-2:/data2

  minio:
    image: nginx:1.19.2-alpine
    hostname: nginx
    volumes:
      - ./nginx.minio.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9001:9001"
    depends_on:
      - minio1
      - minio2
      - minio3
      - minio4

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  data1-1:
  data1-2:
  data2-1:
  data2-2:
  data3-1:
  data3-2:
  data4-1:
  data4-2: