version: "3.3"
services:
  jsbuild:
    build:
      context: ..
      dockerfile: Dockerfile.npm    
    restart: 'no'
    volumes:
      - '../:/code'
  web:
    build:
      context: docker/web
      target:  ${WEB_TARGET:-debug}
    ports:
      - "80:80"
    volumes:
      - ..:/var/www/phpauth
      - /var/www/phpauth/bin/usr
    links:
      - memcached
      - mysql
      - mailhog
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      default:
        aliases:
          - "web.coverage"
  memcached:
    image: memcached:latest
  redis:
    image: redis:latest
    volumes:
      - redis_data:/data

  mysql:
    image: mariadb:latest
    environment:
      MYSQL_DATABASE: phpas
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: www
      MYSQL_PASSWORD: test
  mailhog:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"
      

volumes:
  redis_data:
