/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2017, 11:58:05 AM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

input[type=checkbox].styled {
	display: none;
	
	+ span.toggle {
		display:      inline-block;
		position:         relative;
		width:                 2em;
		height:               .7em;
		background-color:     #DDD;
		border-radius:         5px;
		vertical-align:     middle;
		margin:             0 .3em;
		
		transition: background-color .3s linear;
		
		&:before {
			display: block;
			position: absolute;
			top: -.15em;
			left: 0;
			height: .9em;
			width: .9em;
			border-radius: 50%;
			background: #FFF;
			border: solid 1px #777;
			content: '';
			
			transition: left .3s ease;
		}
	}
	
	&:checked + span.toggle {
		background-color: #a1d49d;
		
		&:before {
			left: 60%;
		}
	}
}