
.separator {
	border-top: solid 1px #CCC;
	margin:     10px 0;
}

.editable-property
{
	
	display: block;

	> * {
		vertical-align: top;
	}

	&.mid-aligned > * {
		vertical-align: middle;
	}
	
	.property-name {
		display: inline-block;
		width:            33%;
	}
	
	.property-value {
		display: inline-block;
		width:            50%;
		
	}
	
	.edit-link {
		display: inline-block;
		width:            17%;

		.cancel {
			color: #a00;
		}
	}
}
