/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-jun-2015, 21:46:57
    Author     : cesaradelacalbretschneider
*/

$disbled-darken-amount: 30;

@import 'reset/_clearfix.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #FAFAFA;
}

.hidden {
	display: none !important;
}

/*
 * Disabled items should be unable to receive mouse pointer events. When clicked
 * or interacted with, these items should be unresponsive.
 */
:disabled, .disabled, [disabled] {
	pointer-events: none;
}

a {
	color: #555;
	text-decoration: none;
	
	&:hover {
		color: #333;
	}
	
	&.highlighted {
		color: #2a912e;
		
		&:hover {
			color: #2a912e;
		}
	}
	
	&.heavy {
		font-weight: bold;
	}
	
	img {
		border: none;
	}
}


h1 {
	font-size: 20px;
	color:  #2a912e;
	font-weight: normal;
	background: #FAFAFA;
	
	&.unpadded {
		margin: 0;
		padding: 0;
	}
}

h2 {
	color: #353535;
	font-size: 18px;
}

p {
	color: #555;
	line-height: 1.6em;
	
	&.unpadded {
		margin: 0;
	}
	
	&.small {
		font-size: .78em;
	}
	
	&.secondary {
		color: #777; 
		
		a {
			color: #333;
		}
	}
}

blockquote {
	margin-left :                  0;
	padding:      15px 5px 15px 15px;
	border-left :     solid 3px #AAA;
	background:              #F9F9F9;
	color:                      #555;
	font-size:                  .9em;
}

table {
	width: 100%;
	border-radius:        3px;
	border-collapse: collapse;
	font-size:          .85em;
	
	thead tr {
		box-shadow: 1px 1px 2px #CCC;
		
		th {
			border-bottom: solid 1px #AAA;
			background: #888;
			color: #FFF;
			
			&:first-child {
				border-radius: 2px 0px 0 0;
			}
			
			&:last-child {
				border-radius: 0px 2px 0 0;
			}
		}
	}
	
	tr {
		background: #FFF;
		border-top: solid 1px #EEE;
	}
	
	tr:first-child {
		border-top: none;
	}
	
	tr:nth-child(2n) {
		background: #FAFAFA;
	}
	
	td, th {
		margin: 0;
		padding: 8px 20px;
	}
}

form.regular {
	
	.field {
		display: block;
		box-sizing: border-box;
		
	
		label {
			display: block;
			font-size: .9em;
			color: #555;
			width: 100%;
		}

		input[type=text],
		input[type=email],
		input[type=password],
		textarea,
		select {
			width: 100%;
			padding: 5px 10px;
			font-size: 1.05em;
			background: #FFF;
			border: solid 1px #EEE;
			box-sizing: border-box;
			height: 2em;
			
			&.borderless {
				border: none;
			}

			&:focus {
				outline: none;
			}
		}
		
		textarea {
			height: 150px;
		}
	}
	
	.form-footer {
		padding-top:   15px;
		padding-right: 10px;
		margin-top:    15px;
		text-align:   right;
		
		* {
			vertical-align: middle;
		}
		
		a {
			font-size: .8em;
		}
	}
	
	input[type="submit"] {
		@extend .button;
		margin-left:              15px;
		font-family:        sans-serif;
	}
}

.material-form {
	input[type="text"], .fake-field, .fake-field-ph {
		display: inline-block;
		padding: 3px 6px;
		max-width: 95%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.fake-field-ph {
		border: 1px solid transparent;
	}
	input[type="text"], .fake-field {
		border: 1px solid grey;
		background: #fff;
		font-size: 16px;
		font-family: inherit;
		vertical-align: baseline;
	}
	.fake-field {
		user-select: all;
	}
}

.no-selection {
	user-select: none;
}

.button {
	$bg: #3191f1;
	$boxshadow: #3167f1;
	background: $bg;
	box-shadow: -2px -2px 1px $boxshadow inset;

	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	padding: .7em 1.2em;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;

	&:disabled {
		background-color: darken($bg, $disbled-darken-amount);
		box-shadow: -2px -2px 1px darken($boxshadow, $disbled-darken-amount) inset;
		cursor: not-allowed;
	}

	&.error {
		background: adjust_hue($bg, 150);
		box-shadow: -2px -2px 1px darken(adjust_hue($boxshadow, 160), 30) inset;
	}

	&.success {
		background: darken(adjust_hue($bg, -80), 20);
		box-shadow: -2px -2px 1px darken(adjust_hue($boxshadow, -90), 40) inset;
	}
	
	&.small {
		padding: .35em .5em;
		font-size: .78em;
	}
	
	&.secondary {
		color: #777; 
	}
	
	&:hover {
		color: #FFF;
	}
}

.menubar {
	background: #FEFEFE;
	vertical-align: top;
	text-align: right;
	box-shadow: 0 2px 2px #DDD;
	border-bottom: solid 1px #CCC;
	
	z-index: 5;

	a {
		display: inline-block;
		text-decoration: none;
		color: #333;
		padding: 10px 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	a:hover {
		text-shadow: 0 0 4px #DDD;
	}

	.logo {
		display: inline-block;
		float: left;
		border: none;
	}
}

.badge {
	width: 100%;
	padding: .5em;
	box-shadow: -2px 2px 2px #EAEAEA inset;
	background: #FAFAFA;
	border: solid 1px #CCC;
	display: block;
	border-radius: 3px;
}

footer {
	background: #FFF;
	color: #555;
	text-align: center;
	padding: 5px;
	line-height: 20px;
	font-size: 12px;
	border-top: solid 1px #CCC;
}

.material {
	background: #FFF;
	box-shadow: 1px 1px 1px #DDD;
	border-radius: 2px;
	border: solid 1px #CCC;
	padding: 20px 15px 15px;
	
	&.unpadded {
		padding: 0;
	}
	
	.padded {
		padding: 20px 15px 15px;
	}
	
	.inset {
		color: #FFF;
		background: #888;
		box-shadow: inset 1px 1px 2px #666;
		
		p, a {
			color: #FFF;
		}
		
		&:last-child {
			border-radius: 0 0 2px 2px;
		}
	}
}

.login-logo {
	text-align: center;
	
	img {
		max-width: 500px;
	}
}

%icon-sizing {
	
	&.extra-small {
		width:  24px;
		height: 24px;
	}
	
	&.small {
		width:  32px;
		height: 32px;
	}
	
	&.medium {
		width:  64px;
		height: 64px;
	}
	
	&.big {
		width:  128px;
		height: 128px;
	}
	
	&.huge {
		width:  256px;
		height: 256px;
	}

	&.full-width {
		max-width: 100%;
	}
}

.user-name {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.2em;
	color: #333;
	text-decoration: none;
}

.user-icon {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #FFF;
	
	@extend %icon-sizing;

	&.square {
		border-radius: 10px;
	}
}

.app-name {
	vertical-align: middle;
	display: inline-block;
	font-size: 1em;
	color: #333;
	text-decoration: none;
}

.app-icon {
	border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 2px #CCC;
	vertical-align: middle;
	
	@extend %icon-sizing;
	
	&+.app-name {
		margin-left: .4em;
	}
}

.validation-errors
{
	color: #900;
	list-style: none;
	font-size: .9em;
	margin: 10px 0;
	padding: 0;
	
	li {
		border-left: solid 2px #900;
		padding-left: 10px;
		margin-top: 8px;
	}
	
	.error-message {
		font-weight: bold;
		display: block;
	}
	
	.extended-message {
		font-size: .9em;
	}
}

.heading {
	display: block;
	padding: 10px 5px;
	color: #FFF;
	font-weight: bold;
	color: #2a912e;
	border-bottom: solid 1px #2a912e;
	background: #FAFAFA;
}


@import '_vars.scss';
@import '_color.scss';
@import '_/_.scss';
@import 'ui/_ui.scss';
@import '_admin.scss';
@import '_pagination';
@import '_properties';
@import '_messages';
@import '_icon-upload';
@import '_dials';
@import '_styledSelect.scss';
