/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-jun-2015, 21:46:57
    Author     : cesaradelacalbretschneider
*/

$disbled-darken-amount: 30;

@import 'reset/_clearfix';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #FFF;
}

.wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}
:disabled, .disabled, [disabled] {
	pointer-events: none;
	opacity: .5;
}

a {
	color: #555;
	text-decoration: none;
	
	&:hover {
		color: #333;
	}
}

a img {
	border: none;
}

h1 {
	font-size: 22px;
	color:     #222;
}

form.condensed {
	//margin:   20px 0;
	margin:   0 auto;
	
	.field {
		margin: 0;
	}
	
	label {
		display: none;
	}
	
	input,
	textarea {
		/*
		 * These remove the annoyng styles from the iOS layout that will style
		 * input for you.
		 */
		-webkit-appearance: none;
		-moz-appearance:    none;
	}
	
	input[type="email"], 
	input[type="password"], 
	input[type="text"],
	textarea {
		border     :           none;
		border-top :           none;
		border-bottom :        none;
		border-radius:            0;
		
		margin:            0;
		font-size:      17px;
		width:          100%;
		padding:        10px;
		
		box-sizing: border-box;
		
		/*Make the splitter lines. We don't use border to avoid them invading the border */
		background-image: linear-gradient(180deg, #DDD 1px, #FFF 1px);
			
	}
	
	/*
    * Textareas do have specific styles, including smaller text to make them more
    * useful for users typing in bigger segments of text
	 */
	textarea {
		font-size: .9em;
		height:    8em;
	}
		
	.field:first-child input[type="email"], 
	.field:first-child input[type="text"], 
	.field:first-child input[type="password"],
	.field:first-child textarea {
		border-top  : solid 1px #999;
		background-image: linear-gradient(180deg, #ccc 0%, #fff 8%);
	}
	
	input[type="submit"] {
		border     : solid 1px #529EBB;
		border-top :              none;
		font-family:        sans-serif;

		$bg: #25A9F8;
		$color: #FFF;
		background-color:      $bg;
		color:              $color;
		margin:                  0;
		font-size:            20px;
		width:                100%;
		padding:              10px;
		cursor:            pointer;
		
		box-sizing: border-box;
		
		background-image: linear-gradient(0deg, #0571B1 0%, $bg 6%);


		&:disabled {
			color: darken($color, $disbled-darken-amount);
			background: darken($bg, $disbled-darken-amount) !important;
			cursor: not-allowed;
		}
	}
	
	.message {
		position: relative;
		padding: 10px 10px;
		font-size: 13px;
		border-width: 0 1px;
		border-style: solid;
		
		&.success {
			border-color: #3C7619;
			background: #84D950;
			color: #3C7619;
			
			&:after {
				border-color: transparent transparent #84D950 transparent;
			}
		}
		
		&.error {
			border-color: #590C0E;
			background: #F2B5B7;
			color: #490C0E;
			
			&:after {
				border-color: transparent transparent #F2B5B7 transparent;
			}
		}
		
		&:after {
			position: absolute;
			bottom:       100%;
			right:        20px;
			display:     block;
			width:           0;
			height:          0;
			content:        '';
			
			border-style: none solid solid solid;
			border-color: transparent transparent #CCC transparent;
			border-width: 7px;
		}
	}
	
	.description {
		background: #FFF;
		padding:    10px;
		color:      #333;
		font-size: 13px;
	}
	
	&.standalone {
		max-width: 350px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 0 5px rgba(0, 0, 0, .7);
		
		input:first-child,
		input:last-child {
			background-image: none;
			border-top: none;
		}
		
		input[type="submit"] {

			transition: background-color .5s ease, background-size .5s ease;
			background-size  : 0 0;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			
			&:hover {
				background-color:  #1599E8;
			}
			
			&:active {
				background-color: #35B9F8;
			}
		}
		
		.message {
			border-left: none;
			border-right: none;
		}
	}
}

form.regular {
	
	.field {
		display: block;
		margin-bottom: 15px;
		box-sizing: border-box;
		
	
		label {
			display: block;
			font-size: .9em;
			color: #555;
			width: 100%;
		}

		input[type=text],
		input[type=email],
		input[type=password],
		textarea,
		select {
			width: 100%;
			padding: 5px 10px;
			font-size: 1.05em;
			background: #FFF;
			border: solid 1px #EEE;
			box-sizing: border-box;
			height: 2em;
			box-shadow: 0 0 1px rgba(0, 0, 0, .2);

			&:focus {
				outline: none;
			}
		}
		
		textarea {
			height: 150px;
		}
	}
	
	.form-footer {
		padding-top:   15px;
		padding-right: 10px;
		margin-top:    15px;
		text-align:   right;
	}
	
	input[type="submit"] {
		@extend .button;
		margin-left:                5%;
		font-family:        sans-serif;
	}
}

.material-form {
	input[type="text"], .fake-field, .fake-field-ph {
		display: inline-block;
		padding: 3px 6px;
		max-width: 95%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.fake-field-ph {
		border: 1px solid transparent;
	}
	input[type="text"], .fake-field {
		border: 1px solid grey;
		background: #fff;
		font-size: 16px;
		font-family: inherit;
		vertical-align: baseline;
	}
	.fake-field {
		user-select: all;
	}
}

.no-selection {
	user-select: none;
}

.button {
	$bg: #3191f1;
	$boxshadow: #3167f1;
	background: $bg;
	box-shadow: -2px -2px 1px $boxshadow inset;

	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	padding: .5em .7em;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;

	&:disabled {
		background-color: darken($bg, $disbled-darken-amount);
		box-shadow: -2px -2px 1px darken($boxshadow, $disbled-darken-amount) inset;
		cursor: not-allowed;
	}

	&.error {
		background: adjust_hue($bg, 150);
		box-shadow: -2px -2px 1px darken(adjust_hue($boxshadow, 160), 30) inset;
	}

	&.success {
		background: darken(adjust_hue($bg, -80), 20);
		box-shadow: -2px -2px 1px darken(adjust_hue($boxshadow, -90), 40) inset;
	}
	
	&.small {
		padding: .35em .5em;
		font-size: .8em;
	}
	
	&:hover {
		color: #FFF;
	}
}

h1 {
	color: #282828;
	margin: 3px 0;
}

h2 {
	color: #353535;
	font-size: 18px;
}

p {
	color: #555;
	line-height: 1.6em;
}

small {
	color: #777;
}

blockquote {
	margin-left :                  0;
	padding:      15px 5px 15px 15px;
	border-left :     solid 3px #AAA;
	background:              #F9F9F9;
	color:                      #555;
	font-size:                  .9em;
}

table {
	width: 100%;
	border:    solid 1px #EEE;
	border-radius:        3px;
	border-collapse: collapse;
	font-size:          .85em;
	
	thead tr {
		background: #E4E4E4;
	}
	
	tr {
		background: #FFF;
		border-top: solid 1px #DDD;
	}
	
	tr:first-child {
		border-top: none;
	}
	
	tr:nth-child(2n) {
		background: #F5F5F5;
	}
	
	td, th {
		margin: 0;
		padding: 8px 20px;
	}
}

.menubar {
	background: #FEFEFE;
	vertical-align: top;
	text-align: right;
	box-shadow: 0 2px 2px #DDD;
	border-bottom: solid 1px #CCC;
	
	z-index: 5;

	a {
		display: inline-block;
		text-decoration: none;
		color: #333;
		padding: 10px 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	a:hover {
		text-shadow: 0 0 4px #DDD;
	}

	.logo {
		display: inline-block;
		float: left;
		border: none;
	}
}

.badge {
	width: 100%;
	padding: .5em;
	box-shadow: -2px 2px 2px #EAEAEA inset;
	background: #FAFAFA;
	border: solid 1px #CCC;
	display: block;
	border-radius: 3px;
}

footer {
	background: #FFF;
	color: #555;
	text-align: center;
	padding: 5px;
	line-height: 20px;
	font-size: 12px;
	border-top: solid 1px #CCC;
}

.material {
	background: #FFF;
	box-shadow: 1px 1px 1px #DDD;
	border-radius: 2px;
	border: solid 1px #CCC;
	padding: 20px 15px 15px;
	
	&.unpadded {
		padding: 0;
	}
	
	.padded {
		padding: 20px 15px 15px;
	}
}

.login-logo {
	text-align: center;
	
	img {
		max-width: 500px;
	}
}

.user-icon {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #FFF;
	
	&.extra-small {
		width:  24px;
		height: 24px;
	}
	
	&.small {
		width:  32px;
		height: 32px;
	}
	
	&.medium {
		width:  64px;
		height: 64px;
	}
	
	&.big {
		width:  128px;
		height: 128px;
	}
	
	&.huge {
		width:  256px;
		height: 256px;
	}

	&.full-width {
		max-width: 100%;
	}

	&.square {
		border-radius: 10px;
	}
}

.user-name {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.2em;
	color: #333;
}

.edit {
	display: inline-block;
	margin-left: 5px;
	opacity: .7;
	
	&:hover {
		opacity: 1;
	}
	
	img {
		height: 15px;
	}
}

.validation-errors
{
	color: #900;
	list-style: none;
	font-size: .9em;
	margin: 10px 0;
	padding: 0;
	
	li {
		border-left: solid 2px #900;
		padding-left: 10px;
		margin-top: 8px;
	}
	
	.error-message {
		font-weight: bold;
		display: block;
	}
	
	.extended-message {
		font-size: .9em;
	}
}

.heading.topbar {
	display: block;
	padding: 10px 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 19px;
	color: #2a912e;
	border-bottom: solid 1px #2a912e;
}


@import '_vars.scss';
@import 'scaffolding/_scaffolding.scss';
@import 'ui/_ui.scss';
@import '_navbar';
@import '_admin.scss';
@import '_pagination';
@import '_properties';
@import '_messages';
@import '_tabs';
@import '_icon-upload';
@import '_dials';
@import '_styledSelect.scss';
